<div class="container">
  <div class="ui card">
    <h1>{{title}}</h1>
    <ul class="list">
      <li *ngFor="let member of members">{{ member }}</li>
    </ul>
    <div class="add-members-container">
      <input 
        #addMemberInput
        placeholder="Name" 
        (input)="onInput(addMemberInput.value)"
        [value]="newMemberName"
      />
      <button (click)="addMember()">Add</button>
    </div>
    <div class="input-container">
      <input type="text" placeholder="# of teams" />
      <button>Generate</button>
    </div>
    <p *ngIf="errorMessage" class="err-message" [ngStyle]="{'color': 'red'}">{{ errorMessage }}</p>
  </div>
</div>
